@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Teko:wght@700&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 100%;
    display: block;
}

h1 {
  font-family: 'Teko', sans-serif;
  color: #242325;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #242325;
}
a:hover {
  color: #BE649A;
  transition: 0.3s;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height: 80px;
}

button {
  padding: 8px;
  margin: 8px;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  color: dimgray;
}
button:hover {
  background-color: #dddddd;
  transition: 0.3s;
  color: black;
  font-weight: bold;
}
button[type="signup"]:hover {
  background-color: #BE649A;
  padding-left: 20px;
  padding-right: 20px;
  transition: 0.3s;
  color: #FFFAFB;
  padding: 10px;
}
button[type="signupBanner"] {
  background-color: #BE649A;
  transition: 0.2s;
  color: #FFFAFB;
  padding: 10px;
}
button[type="signupBanner"]:hover {
  background-color: #BD6198;
  padding-left: 40px;
  padding-right: 40px;
  transition: 0.2s;
  color: #FFFAFB;
    /* box-shadow: 0 0 5px 1px; */;
}

footer {
    background-color: black;
    padding: 30px;
}

.headerLeft {
  margin-left: 20px;
  min-width: 30%;
  max-width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerRight {
  margin-right: 20px;
}

.topBanner {
  padding: 100px;
  background-position: 50% 75%;
  background-size: cover;
  min-height: 30%;
  margin-left: 60px;
  margin-right: 60px;
  padding-left: 90px;
  background-image: url(images/pexels-alexy-almond-3758049.jpg);
}

.logoFloating {
  margin-left: 12%;
}

.bannerList {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  line-height: 180%;
}

.featSection {
    margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
 }
.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  min-height: 350px;
  border-radius: 20px;
  margin: 20px;
  flex: 0 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
  filter: opacity(30%) grayscale(100%);
  transition: 0.6s;
}
.card:hover {
  filter: opacity(100%) grayscale(0%);
    transform: scale(1.02);
  transition: 0.2s;
}
.testbg {
    width: 100%;
    background-color: #EEE8EE;
    padding-bottom: 10px;
    display: block;
}
.cadContent {
  padding: 15px;
  margin-top: -20px;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  line-height: 125%;
}
.cardBG {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.aCard {
  font-size: 12px;
  font-weight: normal;
}


.testimonials {
    margin-top: 100px;
    padding-top: 30px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 50px;
    }
.carousel-cell {
  height: 250px;
  width: 40%;
    max-width: 450px;
  border-radius: 10px;
  margin: 25px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* Shadows around card */
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);

}
.carousel-cell:hover{
    transform: scale(1.02);
    transition: 0.2s;
}
.carUser {
    width: 25%;
    /* min-height: 250px */
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    background-color: #CF8CB4;
    /* border: solid 1px black; */
    max-height: 250px;
}
.carPhoto {
    min-width: 80px;
    min-height: 80px;
    margin-bottom: -20px;
    margin-top: 10px;
    background-image: url(images/testuser.jpeg);
    background-size: cover;
    border-radius: 100px;
    background-repeat: no-repeat;
    background-position: 0% 0%;
}
.carName {
    margin: 0px;
    text-align: center;
    color: black;
}
.carCont {
    font-style: italic;
    text-align: justify;
    text-align-last: center;
    font-weight: normal;
    font-size: 13px;
    margin-bottom: -15px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.8);
    }

.carousel {
    max-width: 80%;
    margin-left: 10%;

}

#h1Banner {
  font-size: 64px;
  line-height: 90%;
  margin-bottom: -10px;
}

#h1feat {
  font-size: 48px;
  line-height: 100%;
  margin-bottom: -10px;
}

#checkIcon {
  margin-right: 30px;
  margin-left: 10px;
  color: #38B2A6;
}

#botBanner {
  font-size: 20px;
  margin-left: 20px;
}

#h1Nav {
  font-size: 36px;
}

#card1 {
  background-image: url(images/card1.jpeg);
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 75%;
}

#card2 {
  background-image: url(images/card.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
}

#card3 {
  background-image: url(images/card3.jpeg);
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 85%;
}

#h2card {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: -10px;
}

#testUser {
    font-size: 12px;
    margin-bottom: -15px;
}

#testitle {
    font-weight: bolder;
    font-style: normal;
    margin-bottom: -10px;
}

#h1test {
    text-align: center;
    font-size: 44px;
    font-weight: normal;
    /* margin-top: 50px; */
}

#testpuser {
    font-size: 10px;
    font-weight: normal;
    color: #E2798C;
}

#pfeature {
    text-align: center;
    font-size: 14px;
    font-weight: normal;

}

#ptestimonial {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    margin-top: -30px;

}
