* {
  margin:0;
  padding: 0;
}
body {
  font-family: roboto;
}

.title {
  background-color: #ba000d;
  font-family: Gill Sans Extrabold, sans-serif;
  color: blue;
  text-align: center;
  font-size: 28px;
  margin-bottom: auto;

}

h1 {
  color:#f44336;
}

p {
  color:#ef5350;
}

.container {
  max-width: 1024px;
  margin: auto;
}
